/********************/
/***** FONT FACE ****/
/********************/
@font-face {
  font-family: 'aachen';
  src: url('../fonts/aachen_std_medium-webfont.woff') format('woff2'),
       url('../fonts/aachen_std_medium-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}







/********************/
/******* RESET ******/
/********************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0; 
  outline-color: var(--color-blue);
}

button:not([disabled]) {
  cursor:pointer;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* --color-yellow: #ffd200; */
  --color-yellow: #fff1b4;
  --color-white: #ffffff;
  --color-white-text: #ffffff;
  --color-grey:rgba(233, 233, 233, 0.664);
  --color-shadow-grey: rgb(224, 224, 224);
  --color-orange: rgb(255, 166, 0);
  --color-brown: rgb(90, 58, 28);
  --color-blue: #008fcd;
  --color-pink: #f717ff;
  --color-red: #f21919;
  --color-shine: rgba(255, 255, 255, 0.836);
  --color-transparent: transparent;
  --cursor: url(../images/MMs-cursor-zwart.png), pointer;
}





/*********************/
/***** DARK MODE *****/
/*********************/ 
@media (prefers-color-scheme: dark) {
  *, *::after, *::before {
    outline-color: var(--color-pink);
  }

  :root {
    --color-yellow: #1f1f1f;
    --color-white: #ffffff;
    --color-white-text: #1f1f1f;
    --color-grey:rgba(233, 233, 233, 0.664);
    --color-shadow-grey: rgb(77, 77, 77);
    --color-orange: rgb(255, 166, 0);
    --color-brown: #ffd200;
    --color-shine: rgba(255, 255, 255, 0.836);
    --color-transparent: transparent;
    --cursor: url(../images/MMs-cursor-wit.png), pointer;
    
  }  

}


/********************/
/* ALGEMENE STYLING */
/********************/
body {
  background-color: var(--color-yellow);
  cursor: var(--cursor);
}










/********************/
/****** HEADER ******/
/********************/
header {
  display: flex;
  justify-content: center;
}

header img {
  padding: 2.5em 0em 0em 0em;
  width: 15%;
  height: 15%;
  margin-bottom: 1em;
}









/********************/
/***** BUISJES ******/
/********************/
main ol {
  --year-label-height: 3rem;
  --buisjes: 7;
  position: relative;
  height: 30rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
  margin: 0 auto;
}

/* even groot maken */
main ol li {
  flex-grow: 1;
  padding: 0 1em;
}

/* tabel met jaartal */
main ol li p {
  color: var(--color-white-text);
  background-color: var(--color-brown);
  padding: 1em;
  height: var(--year-label-height);
  text-align: center;
  font-weight: bold;
  font-family: aachen, arial;
  box-shadow: .1em .1em .5em var(--color-shadow-grey);
}

/* buis maken en afbeelding zich zelf laten herhalen voor volle buis */
main ol li button.buis{
  background-repeat: repeat-y;
  background-size: 100% auto;
  position: relative;
  /* anders klopt de hoogte niet voor het zakje*/
  height: calc(100% - var(--year-label-height));
  width: 100%;
  background-color: var(--color-grey);
  border-color: transparent;
  border-radius: 0 0 6em 6em;
  border: solid 2px var(--color-white);
  box-shadow: inset .1em .1em .5em var(--color-white);
  overflow: hidden;
}













/********************/
/*** HOVER CURSOR ***/
/********************/
main ol li:first-of-type{
  cursor: url(../images/MMs-cursor-rood.png), pointer;
}

main ol li:nth-of-type(2){
  cursor: url(../images/MMs-cursor-geel.png), pointer;
}

main ol li:nth-of-type(3){
  cursor: url(../images/MMs-cursor-oranje.png), pointer;
}

main ol li:nth-of-type(4){
  cursor: url(../images/MMs-cursor-blauw.png), pointer;
}

main ol li:nth-of-type(5){
  cursor: url(../images/MMs-cursor-groen.png), pointer;
}

main ol li:nth-of-type(6){
  cursor: url(../images/MMs-cursor-bruin.png), pointer;
}

main ol li:nth-of-type(7){
  cursor: url(../images/MMs-cursor-paars.png), pointer;
}




/********************/
/****IMAGE M&MS *****/
/********************/
/* afbeelding in buis */
main ol li:first-of-type button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-rood.svg);
}

main ol li:nth-of-type(2) button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-geel.svg);
}

main ol li:nth-of-type(3) button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-oranje.svg);
}

main ol li:nth-of-type(4) button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-blauw.svg);
}

main ol li:nth-of-type(5) button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-groen.svg);
}

main ol li:nth-of-type(6) button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-bruin.svg);
}

main ol li:nth-of-type(7) button.buis {
  cursor: inherit;
  background-image: url(../images/MMs-buis-paars.svg);
}







/********************/
/******* ZAKJE ******/
/********************/
/* zak staat in het midden */
main ol li:last-of-type {
  position: absolute;
  bottom: -15rem;
  left: calc(100% / var(--buisjes) * 3);
  width: calc(100% / var(--buisjes));
  transition: all .2s ease-in-out;

}

main ol li:last-of-type img{
  width: 100%;
  height:100%;
}


/* verplaatsen en kleur aanpassen */
/* eerste li wordt tegelijk geselecteerd met de laatste li door ~ */
/* het gebeurd als je er op klikt, maar ook als je er over heen hovert */
main ol li:nth-of-type(1).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(1):hover ~ li:last-of-type {
  left: 0;
  filter: hue-rotate(150deg) brightness(.8) saturate(2);
}

main ol li:nth-of-type(2).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(2):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes));
  filter: hue-rotate(-150deg) saturate(3) brightness(1.3);
}

main ol li:nth-of-type(3).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(3):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 2);
  filter: hue-rotate(-170deg) saturate(1.3) brightness(1.3);
}

main ol li:nth-of-type(5).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(5):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 4);
  filter: hue-rotate(-120deg) saturate(1.5) brightness(1.3);
}

main ol li:nth-of-type(6).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(6):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 5);
  filter: hue-rotate(-170deg) saturate(.9) brightness(.9);
}

main ol li:nth-of-type(7).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(7):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 6);
  filter: hue-rotate(70deg) brightness(.9) saturate(1.1);
}


/********************/
/**** MMS VALLEN ****/
/********************/
/* positioneren afbeeldingen */
main ol li:not(:last-of-type) img{
  position: relative;
  width: 35%;
  top: -130%;
  z-index: -2;
  display: block;
  margin: auto;
}

/* gele vlak er voor */
main ol li div{
  position: relative;
  background-color: var(--color-yellow);
  border-radius: 0 0 6em 6em;
  height: 100%;
  top: -100%;
  z-index: -1;
}

/* animatie vallende mms */
@keyframes vallen {
  0%{
    transform: translatey(0%);
  }
  100%{
    transform: translatey(130%);
  }
}

/* animatie vallende mms afspelen als classes zijn toegevoegd JS */
main ol li.selected img.fall{
  animation: vallen 2s;
}


/********************/
/******* GLANS ******/
/********************/
/* glas gemaakt met conic gradient en ingezoomd */
main ol li button.buis:hover::before{
  animation: glans 4s infinite linear;
  content:"";
  display:block;
  width:100%;
  height:100%;
  background-image:conic-gradient(
    at -300% 70%,
    var(--color-transparent) 70deg,
    var(--color-shine) 0,
    var(--color-shine)  74deg,
    var(--color-transparent) 0 
  );

}

/* animatie glans bij hover */
@keyframes glans {
  0%, 15%{
    transform: translatey(-100%);
  }
  15%, 100%{
    transform: translatey(100%);
  }
}

/********************/
/***** DIALOGS ******/
/********************/
main ol li dialog{
  width: 100%;
  height: 100%;
  background-color: var(--color-transparent);
  border: none;
  transition-delay: 3s;
  padding:0;
  
}


dialog::backdrop {
  backdrop-filter:blur(3em) brightness(1.2);
}

main ol li dialog button{
  position: absolute;
	right: 1em;
	top: 2em;
  z-index: 10;
  width: 1.5em;
  aspect-ratio: 1/1;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 1em;
  transition: 0.3s
}

main ol li dialog button:hover{
  background-color: var(--color-red);
  transition: 0.3s
}

main ol li dialog iframe{
  position: absolute;
	top: 3em;
	left: 3em;
	height: 95%;
	width: 95%;
	object-fit:cover;
	object-position:center;
}