/********************/
/***** FONT FACE ****/
/********************/
@font-face {
  font-family: 'aachen';
  src: url('../fonts/aachen_std_medium-webfont.woff') format('woff2'),
       url('../fonts/aachen_std_medium-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}







/********************/
/******* RESET ******/
/********************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0; 
}

button:not([disabled]) {
  cursor:pointer;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-yellow: #ffd200;
  --color-white: #ffffff;
  --color-grey:rgba(233, 233, 233, 0.664);
  --color-shadow-grey: rgb(224, 224, 224);
  --color-orange: rgb(255, 166, 0);
  --color-brown: rgb(90, 58, 28);
  --color-shine: rgba(255, 255, 255, 0.836);
  --color-transparent: transparent;
}









/********************/
/* ALGEMENE STYLING */
/********************/
body {
  background-color: var(--color-yellow);
  cursor: url(../images/MMs-cursor-zwart.png), pointer;
}










/********************/
/****** HEADER ******/
/********************/
header {
  display: flex;
  justify-content: center;
}

header img {
  padding: 2.5em 0em 0em 0em;
  width: 15%;
  height: 15%;
  margin-bottom: 1em;
}









/********************/
/***** BUISJES ******/
/********************/
main ol {
  --year-label-height: 3rem;
  position: relative;
  height: 30rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 95%;
  max-width: 1400px;
  justify-content: space-between;
  gap: 2em;
  margin: 0 auto;
}

main ol li {
  flex-grow: 1;
}

main ol li p {
  color: var(--color-white);
  background-color: var(--color-brown);
  padding: 1em;
  height: var(--year-label-height);
  text-align: center;
  /* -webkit-text-stroke: .5px var(--color-white); */
  font-weight: bold;
  font-family: aachen, arial;
  box-shadow: .1em .1em .5em var(--color-shadow-grey);
}

main ol li button {
  background-repeat: repeat-y;
  background-size: 100% auto;
  position: relative;
  height: calc(100% - var(--year-label-height));
  width: 100%;
  background-color: var(--color-grey);
  border-color: transparent;
  border-radius: 0em 0em 6em 6em;
  border: solid 2px var(--color-white);
  box-shadow: inset .1em .1em .5em var(--color-white);
}








/********************/
/****** SCHADUW *****/
/********************/
main ol li button::after {
  content: '';
  position: absolute;
  bottom: -3em;
  width: 80%;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}










/********************/
/****IMAGE M&MS *****/
/********************/
main ol li:first-of-type button {
  background-image: url(../images/MMs-buis-rood.svg);
}

main ol li:nth-of-type(2) button {
  background-image: url(../images/MMs-buis-geel.svg);
}

main ol li:nth-of-type(3) button {
  background-image: url(../images/MMs-buis-oranje.svg);
}

main ol li:nth-of-type(4) button {
  background-image: url(../images/MMs-buis-blauw.svg);
}

main ol li:nth-of-type(5) button {
  background-image: url(../images/MMs-buis-groen.svg);
}

main ol li:nth-of-type(6) button {
  background-image: url(../images/MMs-buis-bruin.svg);
}

main ol li:nth-of-type(7) button {
  background-image: url(../images/MMs-buis-paars.svg);
}







/********************/
/******* BAKJE ******/
/********************/
main ol li:last-of-type {
  position: absolute;
  bottom: -15em;
  left: 45%;
  transition: all .2s ease-in-out;

}

main ol li:last-of-type img{
  width: 50%;
}

main ol li:nth-of-type(1):hover ~ li:last-of-type {
  left: 0%;
}

main ol li:nth-of-type(2):hover ~ li:last-of-type {
  /* left: calc(0% + var(--slide-precentage)); */
  left: 15%;
}

main ol li:nth-of-type(3):hover ~ li:last-of-type {
  left: 30%;
}

/* main ol li:nth-of-type(4):hover ~ li:last-of-type {
  left: 45%;
} */

main ol li:nth-of-type(5):hover ~ li:last-of-type {
  left: 59%;
}

main ol li:nth-of-type(6):hover ~ li:last-of-type {
  left: 74%;
}

main ol li:nth-of-type(7):hover ~ li:last-of-type {
  left: 89%;
}



/********************/
/******* GLANS ******/
/********************/
/* https://stackoverflow.com/questions/66812538/using-css-animation-to-make-a-div-element-move-to-each-corner-of-the-page
https://www.youtube.com/watch?v=2MqPh4mPm78 */

main ol li button::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-30deg, 
  var(--color-transparent) 0% 82%, 
  var(--color-shine) 82% 86%,
  var(--color-transparent) 86% 89%,
  var(--color-shine) 89% 99%,
  var(--color-transparent) 99% 100%);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  border-radius: 0em 0em 6em 6em;
}

main ol li button:hover:before{
  animation: glans 3s ease 1;
}

@keyframes glans {
  from {
    background-position-x: -200%;
  }
}

/* @keyframes glans{
0% {
  transform: translate(0) translateY(0);
}
50% {
  transform: translateX(0%) translateY(100%);
}
100% {
  transform: translateX(0) translateY(0);
}
} */

