/********************/
/***** FONT FACE ****/
/********************/
@font-face {
  font-family: 'aachen';
  src: url('../fonts/aachen_std_medium-webfont.woff') format('woff2'),
       url('../fonts/aachen_std_medium-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}







/********************/
/******* RESET ******/
/********************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0; 
}

button:not([disabled]) {
  cursor:pointer;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-yellow: #ffd200;
  --color-white: #ffffff;
  --color-white-text: #ffffff;
  --color-grey:rgba(233, 233, 233, 0.664);
  --color-shadow-grey: rgb(224, 224, 224);
  --color-orange: rgb(255, 166, 0);
  --color-brown: rgb(90, 58, 28);
  --color-shine: rgba(255, 255, 255, 0.836);
  --color-transparent: transparent;
}





/*********************/
/***** DARK MODE *****/
/*********************/
@media (prefers-color-scheme: dark) {
  body {
    cursor: url(../images/MMs-cursor-wit.png), pointer;
  }
  
  :root {
    --color-yellow: #1f1f1f;
    --color-white: #ffffff;
    --color-white-text: #1f1f1f;
    --color-grey:rgba(233, 233, 233, 0.664);
    --color-shadow-grey: rgb(77, 77, 77);
    --color-orange: rgb(255, 166, 0);
    --color-brown: #ffd200;
    --color-shine: rgba(255, 255, 255, 0.836);
    --color-transparent: transparent;
    
  }  

}


/********************/
/* ALGEMENE STYLING */
/********************/
body {
  background-color: var(--color-yellow);
  cursor: url(../images/MMs-cursor-zwart.png), pointer;
}










/********************/
/****** HEADER ******/
/********************/
header {
  display: flex;
  justify-content: center;
}

header img {
  padding: 2.5em 0em 0em 0em;
  width: 15%;
  height: 15%;
  margin-bottom: 1em;
}









/********************/
/***** BUISJES ******/
/********************/
main ol {
  --year-label-height: 3rem;
  --buisjes: 7;
  position: relative;
  height: 30rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
  margin: 0 auto;
}

main ol li {
  flex-grow: 1;
  padding: 0 1em;
}

main ol li p {
  color: var(--color-white-text);
  background-color: var(--color-brown);
  padding: 1em;
  height: var(--year-label-height);
  text-align: center;
  /* -webkit-text-stroke: .5px var(--color-white); */
  font-weight: bold;
  font-family: aachen, arial;
  box-shadow: .1em .1em .5em var(--color-shadow-grey);
}

main ol li button {
  background-repeat: repeat-y;
  background-size: 100% auto;
  position: relative;
  height: calc(100% - var(--year-label-height));
  width: 100%;
  background-color: var(--color-grey);
  border-color: transparent;
  border-radius: 0em 0em 6em 6em;
  border: solid 2px var(--color-white);
  box-shadow: inset .1em .1em .5em var(--color-white);
  overflow: hidden;
}








/********************/
/****** SCHADUW *****/
/********************/
/* main ol li button::after {
  content: '';
  position: absolute;
  bottom: -3em;
  width: 80%;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
} */







/********************/
/*** HOVER CURSOR ***/
/********************/
main ol li:first-of-type{
  cursor: url(../images/MMs-cursor-rood.png), pointer;
}

main ol li:nth-of-type(2){
  cursor: url(../images/MMs-cursor-geel.png), pointer;
}

main ol li:nth-of-type(3){
  cursor: url(../images/MMs-cursor-oranje.png), pointer;
}

main ol li:nth-of-type(4){
  cursor: url(../images/MMs-cursor-blauw.png), pointer;
}

main ol li:nth-of-type(5){
  cursor: url(../images/MMs-cursor-groen.png), pointer;
}

main ol li:nth-of-type(6){
  cursor: url(../images/MMs-cursor-bruin.png), pointer;
}

main ol li:nth-of-type(7){
  cursor: url(../images/MMs-cursor-paars.png), pointer;
}




/********************/
/****IMAGE M&MS *****/
/********************/
main ol li:first-of-type button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-rood.svg);
}

main ol li:nth-of-type(2) button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-geel.svg);
}

main ol li:nth-of-type(3) button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-oranje.svg);
}

main ol li:nth-of-type(4) button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-blauw.svg);
}

main ol li:nth-of-type(5) button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-groen.svg);
}

main ol li:nth-of-type(6) button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-bruin.svg);
}

main ol li:nth-of-type(7) button {
  cursor: inherit;
  background-image: url(../images/MMs-buis-paars.svg);
}







/********************/
/******* ZAKJE ******/
/********************/
main ol li:last-of-type {
  position: absolute;
  bottom: -15rem;
  left: calc(100% / var(--buisjes) * 3);
  width: calc(100% / var(--buisjes));
  transition: all .2s ease-in-out;

}

main ol li:last-of-type img{
  width: 100%;
  height:100%;
}


/*** verplaatsen en kleur aanpassen ***/

main ol li:nth-of-type(1).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(1):hover ~ li:last-of-type {
  left: 0;
  filter: hue-rotate(150deg) brightness(.8) saturate(2);
}

main ol li:nth-of-type(2).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(2):hover ~ li:last-of-type {
  /* left: calc(0% + var(--slide-precentage)); */
  left: calc(100% / var(--buisjes));
  filter: hue-rotate(-150deg) saturate(3) brightness(1.3);
}

main ol li:nth-of-type(3).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(3):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 2);
  filter: hue-rotate(-170deg) saturate(1.3) brightness(1.3);
}

/* main ol li:nth-of-type(4).selected ~ li:last-of-type,
main ol li:nth-of-type(4):hover ~ li:last-of-type {
} */

main ol li:nth-of-type(5).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(5):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 4);
  filter: hue-rotate(-120deg) saturate(1.5) brightness(1.3);
}

main ol li:nth-of-type(6).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(6):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 5);
  filter: hue-rotate(-170deg) saturate(.9) brightness(.9);
}

main ol li:nth-of-type(7).selected ~ li:last-of-type,
main ol:not(.locked) li:nth-of-type(7):hover ~ li:last-of-type {
  left: calc(100% / var(--buisjes) * 6);
  filter: hue-rotate(70deg) brightness(.9) saturate(1.1);
}

/********************/
/**** MMS VALLEN ****/
/********************/
/* positioneren afbeeldingen */
main ol li:not(:last-of-type) img{
  position: relative;
  width: 35%;
  top: -130%;
  z-index: -2;
  display: block;
  margin: auto;
}

/* gele vlak er voor */
main ol li div{
  position: relative;
  background-color: var(--color-yellow);
  border-radius: 0 0 6em 6em;
  height: 100%;
  top: -100%;
  z-index: -1;
}

/* animatie vallende mms */
@keyframes vallen {
  0%{
    transform: translatey(0%);
  }
  100%{
    transform: translatey(130%);
  }
}

main ol li:not(:last-of-type) img{
  animation: vallen 2s ;
}


/* main ol li:not(:last-of-type):first-of-type img{
  display: block;
  margin: auto;

}

main ol li:not(:last-of-type):nth-of-type(2) img{
  display: block;
  margin: auto;
}

main ol li:not(:last-of-type):nth-of-type(3) img{
  display: block;
  margin: auto;
}

main ol li:not(:last-of-type):nth-of-type(4) img{
  display: block;
  margin: auto;
}
  
main ol li:not(:last-of-type):nth-of-type(5) img{
  display: block;
  margin: auto;
}
  
main ol li:not(:last-of-type):nth-of-type(6) img{
  display: block;
  margin: auto;
}

main ol li:not(:last-of-type):nth-of-type(7) img{
  display: block;
  margin: auto;
} */


/********************/
/******* GLANS ******/
/********************/
main ol li button:hover::before{
  animation: glans 4s infinite linear;
  content:"";
  display:block;
  width:100%;
  height:100%;
  background-image:conic-gradient(
    at -300% 70%,
    var(--color-transparent) 70deg,
    var(--color-shine) 0,
    var(--color-shine)  74deg,
    var(--color-transparent) 0 
  );

}

@keyframes glans {
  0%, 15%{
    transform: translatey(-100%);
  }
  15%, 100%{
    transform: translatey(100%);
  }
}